<!DOCTYPE html>
<html style="font-size: 16px;" lang="ar-SA" dir="rtl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>success</title>
    <link rel="stylesheet" href="../dist/css/style.css" media="screen">
    <link rel="stylesheet" href="../dist/css/success.css" media="screen">
    <script class="u-script" type="text/javascript" src="../dist/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="../dist/js/style.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">


    <meta name="theme-color" content="#0f1463">
    <meta property="og:title" content="success">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
</head>
<body class="u-body u-xl-mode" data-lang="ar">
    <section class="u-clearfix u-palette-1-base u-section-1" id="sec-f464">
        <div class="u-clearfix u-sheet u-sheet-1">
            <span class="u-icon u-text-white u-icon-1" data-animation-name="customAnimationIn" data-animation-duration="1000">
                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 52 52" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-134d"></use></svg>
                <svg class="u-svg-content" viewBox="0 0 52 52" x="0px" y="0px" id="svg-134d" style="enable-background:new 0 0 52 52;">
                    <g>
                        <path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26
		S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z"></path><path d="M38.252,15.336l-15.369,17.29l-9.259-7.407c-0.43-0.345-1.061-0.274-1.405,0.156c-0.345,0.432-0.275,1.061,0.156,1.406
		l10,8C22.559,34.928,22.78,35,23,35c0.276,0,0.551-0.114,0.748-0.336l16-18c0.367-0.412,0.33-1.045-0.083-1.411
		C39.251,14.885,38.62,14.922,38.252,15.336z"></path>
                    </g>
                </svg>
            </span>
            <p class="u-text u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction="">تم إرسال الطلب بنجاح، ستصلك رسالة بالتأكيد في حال القبول</p>
        </div>
    </section>


    <footer class="u-clearfix u-footer u-palette-1-dark-1" id="sec-f">
        <div class="u-clearfix u-sheet u-sheet-1">
            <a href="" class="u-image u-logo u-image-1" data-image-width="1588" data-image-height="264">
                <img src="../images/logo-e.webp" class="u-logo-image u-logo-image-1">
            </a>

            <div class="u-border-1 u-border-white u-expanded-width u-line u-line-horizontal u-opacity u-opacity-50 u-line-1"></div>
            <p class="u-align-center u-text u-text-1"> جميع الحقوق محفوظة@2022</p>
        </div>
    </footer>

</body>
</html>